
<!-- Isso é uma tag <html>
    Na tag <head> ficam as configurações do meu documento
    Na tag <body> fica todo o conteúdo visível na página -->

    <!-- Esse é um comentário!
        HTML

        Hyper
            Hiper

        Text
            Texto

            HyperText era uma tag <a> antigamente

        Markup
            Marcação

        Language
            Linguagem

        Ou seja,
        HyperText Markup Language
        Linguagem de Marcação de HiperTexto
    -->

    <!DOCTYPE html>
    <html lang="pt_br"> <!-- Lang é um atributo -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cepoware | Cadastro de Gastos</title>
    
        <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/partials/header.css">
        <link rel="stylesheet" href="/styles/partials/forms.css">
        <link rel="stylesheet" href="/styles/partials/page-client-register.css">
    
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    
        <script src="/scripts/addField.js" defer></script>
    
    </head>
    <body id="page-client-register">
    
        <div id="container">
            <header class="page-header">
                <div class="top-bar-container">
                    <a href="/expenses">
                    <img src="/images/icons/back.png" alt="Voltar"></a>
                    <img src="/images/logo.png" alt="Cepoware">
                </div>
    
                <div class="header-content">
                    <strong>Cadastro de Gastos:</strong>
                    <p>Preencha os campos para inserir o novo gasto.</p>
                </div>
            </header>
    
            <main>
                <form action="/save-expenses" id="create-expense" method="POST">
                    <fieldset>
                        <legend>Preencha os dados:</legend>
                        <div class="input-block">
                            <label for="name">Gasto:</label>
                            <input name="name" id="name" required>
                        </div>
    
                        <div class="input-block" id="phonenumber">
                            <label for="cost">Valor:</label>
                            <input name="cost" id="cost" type="number" step="0.01" required>
                        </div>
                    </fieldset>
    
                    <fieldset id="address-items">
                        <legend>Data do Gasto:</legend>
                        <div class="address-item">
                        <div class="input-block">
                            <label for="day">Dia:</label>
                            <input name="day" id="day" required>
                        </div>
    
                        <div class="input-block">
                            <label for="month">Mês:</label>
                            <input name="month" id="month" required>
                        </div>
                        </div>
    
                    </fieldset>
                </form>
    
                <footer>
                    <p>
                        <img src="/images/icons/warning.svg" alt="Aviso Importante">
                        Importante! <br>
                        Preencha todos os dados.
                    </p>
                    <button type="submit" form="create-expense">Salvar Gasto</button>
                </footer>
    
            </main>
        </div>
    
    </body>
    </html>