
<!-- Isso é uma tag <html>
    Na tag <head> ficam as configurações do meu documento
    Na tag <body> fica todo o conteúdo visível na página -->

    <!-- Esse é um comentário!
        HTML

        Hyper
            Hiper

        Text
            Texto

            HyperText era uma tag <a> antigamente

        Markup
            Marcação

        Language
            Linguagem

        Ou seja,
        HyperText Markup Language
        Linguagem de Marcação de HiperTexto
    -->

<!DOCTYPE html>
<html lang="pt_br"> <!-- Lang é um atributo -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="8257E5">

    <title>Cepoware | Bem-Vindo </title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-password.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <script defer src="/utils/login-page.js"></script>
</head>
<body id="page-landing">

    <div id="container">
        <div class="logo-container">
            <img src="/images/logo.png" alt="Cepoware">
            <h2>Plataforma online de administração</h2>
        </div>

        <img class="hero-image" src="/images/landing.png" alt="Plataforma de Administraçao">
        <div class="buttons-container">
        <div id="login-error-msg-holder">
            <p id="login-error-msg"> Senha incorreta </p>
          </div>
          
          <form action="/perform-login" id="login-form" method="POST">
            <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Usuario">
            <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Insira sua senha">
            <input form="login-form" type="submit" value="Login" id="login-form-submit">
          </form>
        </div>
        <p class="total-connections" >
            <a>Empresa Cepofran - Desde 1996</a>
        </p>
        
    </div>
    
</body>
</html>